h4{
	 margin: 0;
 }
 
 fieldset{
	 width: 461px;
	 padding: 15px 50px 6px 14px;
	 background: #E1E3B8 url(http://htmlbook.ru/files/check-bg.png) no-repeat 10px 17px; 
 }
 
 legend{
	 font: 16px Arial;
	 font-weight: bold;
	 color: #A35D43;
 }
 
 p{
	 margin-left: 127px;
 }
 
 input[type="submit"]{
	 background: #B98F5C;
	 color: #FFFFFF;
	 border: 1px solid #FFFFFF;
	 margin-top: 5px;
 }
 
 span{
	 padding-left: 6px;
 }
 
 input[type="radio"]{
	 background: #FFFFFF;
 }